@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes pageIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-0.75rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }
@-moz-keyframes pageIn {
  0% {
    opacity: 0;
    -moz-transform: translateY(-0.75rem); }
  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }
@keyframes pageIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-0.75rem);
    -moz-transform: translateY(-0.75rem);
    -ms-transform: translateY(-0.75rem);
    -o-transform: translateY(-0.75rem);
    transform: translateY(-0.75rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }
html {
  background-color: white;
  font-size: 16px;
  padding: 0;
  margin: 0;
  width: 100%;
  -webkit-text-size-adjust: 100%; }
html * {
  box-sizing: border-box; }
body {
  font-family: "prenton", "San Francisco Display", "Helvetica", "Lucida Grande", Arial, sans-serif;
  padding: 0;
  margin: 0;
  max-width: 100%;
  color: #655a5d; }
.main-view {
  margin-top: 38px; }
main {
  width: 80%;
  max-width: 700px;
  margin: 2rem auto 0;
  padding-bottom: 4rem; }
  main section {
    margin-bottom: 1rem; }
header {
  background-color: #f2f0f0;
  padding: 1rem 0; }
  header > div {
    width: 80%;
    max-width: 700px;
    margin: 1rem auto 0; }
  header h1 {
    color: #752138;
    line-height: 1em;
    margin-top: 0;
    padding-bottom: 0.5em; }
  header h1, header h2 {
    text-align: center; }
  header.video {
    padding: 0;
    max-height: calc(80vh - 60px);
    overflow-y: hidden;
    box-shadow: 0 0 2rem rgba(69, 20, 33, 0.2);
    background-color: #8DC9F4;
    opacity: 0;
    -webkit-animation: 2.8s fadeIn ease-out 0.5s forwards;
    -moz-animation: 2.8s fadeIn ease-out 0.5s forwards;
    animation: 2.8s fadeIn ease-out 0.5s forwards; }
    header.video video {
      margin-bottom: -5px; }
    header.video > div {
      position: absolute;
      top: 4rem;
      right: 0;
      left: 0; }
      header.video > div h1 {
        text-align: left;
        color: #1067a5;
        text-shadow: 0 0 1.5rem white, 1px 1px 0 rgba(255, 255, 255, 0.5);
        font-style: italic; }
    @media screen and (max-width: 640px) {
      header.video {
        background-image: url(/img/video/lighthouse.still.jpg);
        background-size: cover; }
        header.video video {
          visibility: hidden; }
        header.video > div {
          top: 2rem; }
          header.video > div h1 {
            font-size: 2.2rem; } }
main.home-page {
  text-align: center;
  padding-bottom: 1rem;
  margin-top: 4rem; }
  main.home-page header {
    margin-bottom: 0.75em;
    background: none;
    padding: 0; }
    main.home-page header h1 {
      font-family: "grafolita-script", "jubilat", "Garamond", "Times New Roman", "Times", serif;
      color: #752138;
      border: none;
      margin-bottom: 0; }
    main.home-page header h2 {
      font-family: "prenton", "San Francisco Display", "Helvetica", "Lucida Grande", Arial, sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.04em;
      font-size: 1rem; }
  @media screen and (max-width: 640px) {
    main.home-page {
      width: 94%;
      margin-top: 3.25rem;
      padding-bottom: 0.5rem; }
      main.home-page header h1 {
        font-size: 7.2vw; }
      main.home-page header h2 {
        font-size: 0.9rem; }
      main.home-page .countdown {
        font-size: 0.9rem; } }
.slideshow-carousel {
  width: 100%;
  text-align: center;
  position: relative; }
  .slideshow-carousel .image-carousel {
    position: relative;
    margin: 0 auto;
    width: 75%;
    max-width: 525px;
    background-color: #b0a2a6;
    box-shadow: 0 0.25rem 0.5rem -0.1rem #9d8c91; }
div.header-container {
  background-color: #b02d51;
  height: 38px;
  padding: 0;
  margin: 0;
  z-index: 1000;
  position: absolute;
  top: 0;
  right: 0;
  left: 0; }
  div.header-container section {
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
    padding: 4rem 0; }
  div.header-container h1 {
    color: white;
    margin: 0; }
h1, h2, h3 {
  font-family: "jubilat", "Garamond", "Times New Roman", "Times", serif;
  color: #493e41;
  margin-top: 0.2em;
  text-align: center; }
  h1.script, h2.script, h3.script {
    font-family: "grafolita-script", "jubilat", "Garamond", "Times New Roman", "Times", serif; }
h1 {
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 0; }
h2 {
  font-weight: 300;
  font-size: 1.7rem;
  margin-top: 0;
  color: #752138; }
  h2.script {
    font-size: 1.4rem;
    margin-top: -0.25rem; }
h3 {
  font-weight: 700;
  margin-bottom: 0.7em;
  font-size: 1.2rem;
  color: #493e41; }
h4, h5 {
  font-family: "grafolita-script", "jubilat", "Garamond", "Times New Roman", "Times", serif; }
a {
  color: #cf2d5a;
  transition: color 0.1s ease-in-out; }
a.subtle {
  font-size: 0.875em;
  color: #8d797f; }
a:hover {
  color: #752138; }
blockquote {
  font-family: "jubilat", "Garamond", "Times New Roman", "Times", serif; }
  blockquote p {
    font-style: italic;
    font-weight: 200;
    font-size: 1.5em;
    line-height: 1.4em; }
  blockquote footer {
    font-weight: 200;
    color: #752138;
    font-size: 1.3em; }
article img {
  box-shadow: 0 0.15rem 0.3rem -0.05rem rgba(0, 0, 0, 0.25); }
p {
  line-height: 1.4em; }
hr {
  border: 0;
  height: 0;
  border-bottom: 2px solid #d8d1d3;
  margin: 1rem 0 3rem; }
figure {
  margin: 0 0 1rem; }
  figure img {
    box-shadow: 0 0.15rem 0.3rem -0.05rem rgba(0, 0, 0, 0.25); }
  figure figcaption {
    color: #8d797f;
    font-size: 1.1em;
    margin-top: 0.2em; }
  figure.horizontal {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #f2f0f0;
    box-shadow: 0 0.1rem 0.4rem -0.1rem rgba(0, 0, 0, 0.25); }
    figure.horizontal img {
      width: 50%;
      height: 50%;
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      box-flex: 1;
      -webkit-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin-right: 3%; }
    figure.horizontal figcaption {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      box-flex: 1;
      -webkit-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1;
      vertical-align: top;
      color: #493e41;
      padding: 0.5em;
      line-height: 1.1em; }
      figure.horizontal figcaption em {
        color: #8d797f;
        font-size: 0.85em;
        display: inline-block;
        margin-top: 0.4em; }
    figure.horizontal.left img {
      margin-right: 0;
      margin-left: 3%; }
    figure.horizontal.left figcaption {
      text-align: right; }
table {
  width: 100%;
  border-collapse: collapse; }
  table th, table td {
    padding: 1rem 0.5rem 1rem 0;
    text-align: left;
    border: none;
    border-bottom: 1px dotted #d8d1d3;
    vertical-align: top; }
  table th {
    font-weight: normal;
    color: #78666b;
    padding-right: 1rem;
    font-size: 87%;
    text-transform: uppercase; }
  table tr:first-child th, table tr:first-child td {
    padding-top: 0.5rem; }
.full {
  width: 100%; }
.half {
  width: 50%; }
.centered {
  text-align: center; }
.row {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -1rem; }
  .row .column {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 16rem;
    -moz-flex: 1 1 16rem;
    -ms-flex: 1 1 16rem;
    flex: 1 1 16rem;
    padding: 0 1rem 1rem 0;
    min-width: 16rem; }
  .row.more-space {
    margin-top: 1.5rem;
    margin-right: -3rem; }
    .row.more-space .column {
      padding-right: 3rem; }
.map {
  border: 2px solid #d8d1d3; }
  .map iframe {
    margin-bottom: -0.3rem; }
.main-view {
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  -o-transform-origin: top center;
  transform-origin: top center; }
  .main-view.ng-enter {
    -webkit-animation: 0.35s pageIn ease-out;
    -moz-animation: 0.35s pageIn ease-out;
    animation: 0.35s pageIn ease-out; }
.wf-loading .main-view, .wf-loading body > header {
  display: none; }
.wf-active .main-view .main-view, .wf-active .main-view body > header {
  display: block; }
@media screen and (max-width: 850px) and (min-width: 641px) {
  .slideshow-carousel .image-carousel {
    width: 100%; } }
@media screen and (max-width: 640px) {
  .slideshow-carousel .image-carousel {
    width: 100%;
    max-width: 100%; } }
.countdown {
  font-size: 1.2rem;
  line-height: 1.5em; }
  .countdown strong {
    display: inline-block;
    width: 1.15em;
    text-align: right;
    font-size: 1.3em;
    border-radius: 0.2rem; }
  .countdown strong.days {
    width: 1.4em; }
  .countdown .date span {
    white-space: nowrap; }
nav {
  background-color: #752138;
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0;
  min-height: 2.3rem; }
  nav ul {
    display: inline-block;
    padding: 0;
    margin: 0; }
    nav ul li {
      display: inline; }
      nav ul li a {
        display: inline-block;
        padding: 0.75rem 1rem 0.5rem;
        text-transform: uppercase;
        font-family: "prenton", "San Francisco Display", "Helvetica", "Lucida Grande", Arial, sans-serif;
        color: #d6bcc3;
        text-decoration: none;
        font-size: 0.8em;
        font-weight: 400;
        letter-spacing: 0.06em;
        transition: background-color 0.1s ease, box-shadow 0.4s ease; }
        nav ul li a:hover {
          background-color: #b02d51;
          color: white; }
        nav ul li a.active {
          color: white;
          box-shadow: inset 0 -4px 0 #b02d51; }
          nav ul li a.active:hover {
            color: white;
            box-shadow: inset 0 -4px 0 #d04a6f; }
  nav a.menu {
    padding: 0.5rem 1rem;
    text-align: right;
    font-family: "prenton", "San Francisco Display", "Helvetica", "Lucida Grande", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 0.17em;
    text-decoration: none;
    color: white;
    line-height: 1.1em;
    opacity: 0.75;
    transition: opacity 0.2s ease; }
    nav a.menu:hover {
      opacity: 1; }
    nav a.menu img {
      width: 1.2rem;
      vertical-align: middle;
      position: relative;
      top: -0.12rem; }
@media screen and (max-width: 850px) and (min-width: 641px) {
  nav ul li a {
    font-size: 0.74em;
    padding: 0.75rem 0.5rem 0.65rem;
    letter-spacing: 0; } }
@media screen and (max-width: 640px) {
  nav a.menu {
    display: block !important;
    width: 100%; }
  nav ul {
    display: none;
    position: fixed;
    top: 36px;
    right: 0;
    left: 0; }
  nav.menu-visible {
    transition: background-color 0.2s ease;
    background-color: #451421; }
    nav.menu-visible ul {
      display: block;
      background-color: rgba(117, 33, 56, 0.94); }
      nav.menu-visible ul li {
        display: block; }
        nav.menu-visible ul li a {
          font-size: 0.9rem;
          padding: 0.5rem 1rem 0.5rem;
          width: 100%;
          text-align: right;
          color: #c8a6af; }
          nav.menu-visible ul li a.active {
            color: white;
            box-shadow: inset -4px 0 0 #451421; }
            nav.menu-visible ul li a.active:hover {
              box-shadow: inset -4px 0 0 #1d080e; }
    nav.menu-visible a.menu {
      opacity: 1; }
  nav ul.menu-visible-ul-add {
    animation: pageIn 0.2s ease; } }
@keyframes kenburns {
  0% {
    transform: scale(1.5, 1.5) translate(-8%, -4%);
    animation-timing-function: ease-in-out; }
  100% {
    transform: scale(1.25, 1.25) translate(5%, 7%); } }
.image-carousel {
  overflow: hidden;
  position: relative; }
  .image-carousel img {
    margin-bottom: -0.5rem;
    width: 100%;
    transition: all 2s ease-in-out; }
    .image-carousel img.ng-hide-add, .image-carousel img.ng-hide-remove {
      display: block !important;
      opacity: 1; }
    .image-carousel img.ng-hide {
      opacity: 0; }
    .image-carousel img.img-primary {
      animation: kenburns 20s ease-in-out infinite alternate;
      -webkit-animation: kenburns 20s ease-in-out infinite alternate; }
    .image-carousel img.img-secondary {
      position: absolute;
      top: 0;
      left: 0;
      animation: kenburns 20s ease-in-out infinite alternate-reverse;
      -webkit-animation: kenburns 20s ease-in-out infinite alternate-reverse; }
.calendar-link {
  display: inline-block;
  padding-left: 1.5em;
  background: no-repeat center left url(/img/calendar-icon-21.png);
  background-size: auto 82%; }
  .calendar-link.c21 {
    background-image: url(/img/calendar-icon-21.png); }
  .calendar-link.c22 {
    background-image: url(/img/calendar-icon-22.png); }
