html {
  background-color: white;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

html * {
  box-sizing: border-box;
}

body {
  font-family: $family-body;
  padding: 0;
  margin: 0;
}

main {
  width: 80%;
  max-width: 700px;
  margin: 2rem auto 0;
  padding-bottom: 4rem;
}

header {
  h1 {
    line-height: 1em;
    margin-bottom: 0.5rem;
    padding-bottom: 0.15em;
    border-bottom: 1px dotted $light-purple;
  }
}

main.home-page {
  header h1 {
    font-family: $family-script;
    color: $purple;
    border: none;
  }
}

div.header-container {
  background-color: $darker-purple;
  height: 40px;
  padding: 0;
  margin: 0;

  section {
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
    padding: 4rem 0;
  }
  h1 {
    color: white;
    margin: 0;
  }
}

h1, h2, h3 {
  font-family: $family-heading;
  color: $gray-0;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  &.script {
    font-family: $family-script;
  }
}

h1 {
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 0;
}
h2 {
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 0.4em;
  margin-top: 0;
  color: $purple;
  &.script {
    font-size: 1.7rem;
  }
}
h3 {
  font-weight: 600;
  font-size: 1.3rem;
}

h4, h5 {
  font-family: $family-script;
}

blockquote {
  font-family: $family-heading;
  p {
    font-style: italic;
    font-weight: 200;
    font-size: 1.5em;
    line-height: 1.4em;
  }
  footer {
    font-weight: 200;
    color: $purple;
    font-size: 1.3em;
  }
}

p {
  line-height: 1.4em;
  color: $gray-1;
}


// Main view animation
@-webkit-keyframes pageIn {
  0% {
    opacity: 0;
    //-webkit-transform: translateY(-0.75rem);
    //transform: translateY(-0.75rem);
    -webkit-transform: translateY(-0.75rem);
    transform: translateY(-0.75rem);
  }

  100% {
    opacity: 1;
    //-webkit-transform: translateY(0);
    //transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.animated-view {
  -webkit-transform-origin: top center;
  transform-origin: top center;

  &.ng-enter {
    animation: 0.35s pageIn ease-out;
    -webkit-animation: 0.35s pageIn ease-out;
  }
}
// Load after typekit
.wf-loading {
  .animated-view, body > header {
    display: none;
  }
}
.wf-active .animated-view {
  .animated-view, body > header {
    display: block;
  }
}
