html {
  background-color: $light-purple;
  font-size: 16px;
}

body {
  width: 80%;
  max-width: 700px;
  margin: 4rem auto 0;
  padding-bottom: 4rem;

  font-family: $family-body;
}

h1, h2, h3 {
  font-family: $family-heading;
  color: $dark-purple;
  &.script {
    font-family: $family-script;
    color: $purple;
  }
}

h1 { 
  font-weight: 300;
  font-size: 3rem;
}
h2 {
  font-weight: 300;
  font-size: 2rem;
}
h3 {
  font-weight: 600;
  font-size: 1.3rem;
}

h4, h5 {
  font-family: $family-script;
}

blockquote {
  font-family: $family-heading;
  p {
    font-style: italic;
    font-weight: 200;
    font-size: 1.5em;
    line-height: 1.4em;
  }
  footer {
    font-weight: 200;
    color: $purple;
    font-size: 1.3em;
  }
}

p {
  line-height: 1.4em;
  color: $pale-purple;
}

// Main view animation
@-webkit-keyframes pageIn {
  0% {
    opacity: 0;
    //-webkit-transform: translateY(-0.75rem);
    //transform: translateY(-0.75rem);
    -webkit-transform: scale(0.94);
    transform: scale(0.94);
  }

  100% {
    opacity: 1;
    //-webkit-transform: translateY(0);
    //transform: translateY(0);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.animated-view {
  &.ng-enter {
    animation: 0.35s pageIn ease-out;
    -webkit-animation: 0.35s pageIn ease-out;
  }
}
