html {
  background-color: white;
  font-size: $base-font-size;
  padding: 0;
  margin: 0;
  width: 100%;
  // Important for webkit text size in portrait vs. landscape
  -webkit-text-size-adjust: 100%;
}

html * {
  box-sizing: border-box;
}

body {
  font-family: $family-body;
  padding: 0;
  margin: 0;
  max-width: 100%;
  color: $darkgray-0;
}

.main-view {
  margin-top: $header-height;
}

main {
  width: 80%;
  max-width: $main-column-width;
  margin: 2rem auto 0;
  padding-bottom: 4rem;

  section {
    margin-bottom: 1rem;
  }
}

header {
  background-color: $gray-8;
  padding: 1rem 0;

  & > div {
    width: 80%;
    max-width: $main-column-width;
    margin: 1rem auto 0;
  }

  h1 {
    color: $darker-purple;
    line-height: 1em;
    margin-top: 0;
    margin-bottom: 0.5rem;
    padding-bottom: 0.15em;
  }
  h1,h2 {
    text-align: center;
  }

  &.video {
    padding: 0;
    max-height: calc(90vh - 60px);
    overflow-y: hidden;
    box-shadow: 0 0 2rem fade-out($darker-purple, 0.8);
    background-color: $skyblue-0;

    opacity: 0;
    @include animation(2.8s fadeIn ease-out 0.5s forwards);

    video {
      margin-bottom: -5px;
    }
    & > div {
      position: absolute;
      top: 4rem;
      right: 0;
      left: 0;
      h1 {
        text-align: left;
        color: $skyblue-1;
        text-shadow: 0 0 2rem white, 0.75px 0.75px 0 rgba(255,255,255,0.5);
        font-style: italic;
      }
    }

    @media screen and (max-width: 640px) {
      video { visibility: hidden; }
      background-image: url(/img/video/lighthouse.still.jpg);
      background-size: cover;

      & > div {
        top: 2rem;
        h1 {
          font-size: 2.2rem;
        }
      }
    }

  }
}

// Home page specific, which looks a bit different from the others.
main.home-page {
  text-align: center;
  padding-bottom: 1rem;
  margin-top: 4rem;

  header {
    margin-bottom: 1.2rem;
    background: none;
    padding: 0;

    h1 {
      font-family: $family-script;
      color: $purple;
      border: none;
      margin-bottom: 0;
    }

    h2 {
      font-family: $family-sans;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.04em;
      font-size: 1rem;
    }
  }
}

// Also Home-specific
// See also: components.scss > .image-carousel for the actual component.
.slideshow-carousel {
  //background-color: $gray-7;
  width: 100%;
  text-align: center;
  position: relative;
  .image-carousel {
    position: relative;
    margin: 0 auto;
    width: 75%;
    max-width: $main-column-width * (3/4);
    background-color: $gray-5;
    box-shadow: 0 0.25rem 0.5rem -0.1rem $gray-4;
  }
}

div.header-container {
  background-color: $light-purple;
  height: $header-height;
  padding: 0;
  margin: 0;
  z-index: 1000;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  section {
    width: 80%;
    max-width: $main-column-width;
    margin: 0 auto;
    padding: 4rem 0;
  }
  h1 {
    color: white;
    margin: 0;
  }
}

h1, h2, h3 {
  font-family: $family-heading;
  color: $gray-0;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  &.script {
    font-family: $family-script;
  }
  text-align: center;
}

h1 {
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 0;
}
h2 {
  font-weight: 300;
  font-size: 1.7rem;
  margin-bottom: 0.4em;
  margin-top: 0;
  color: $purple;

  &.script {
    font-size: 1.4rem;
    margin-top: -0.25rem;
  }
}
h3 {
  font-weight: 700;
  margin-bottom: 0.7em;
  font-size: 1.2rem;
  color: $gray-0;
}

h4, h5 {
  font-family: $family-script;
}

blockquote {
  font-family: $family-heading;
  p {
    font-style: italic;
    font-weight: 200;
    font-size: 1.5em;
    line-height: 1.4em;
  }
  footer {
    font-weight: 200;
    color: $purple;
    font-size: 1.3em;
  }
}

article {
  img {
    box-shadow: 0 0.15rem 0.3rem -0.05rem $shadow;
  }
}

p {
  line-height: 1.4em;
}

hr {
  border: 0;
  height: 0;
  border-bottom: 2px solid $gray-7;
  margin: 1rem 0 3rem;
}

figure {
  margin: 0 0 1rem;

  img {
    box-shadow: 0 0.15rem 0.3rem -0.05rem $shadow;
  }
  figcaption {
    color: $gray-3;
    font-size: 1.1em;
    margin-top: 0.2em;
  }

  &.horizontal {
    @include display(flex);

    background-color: $gray-8;
    box-shadow: 0 0.1rem 0.4rem -0.1rem $shadow;

    img {
      width: 50%;
      height: 50%;
      @include flex(1);
      margin-right: 3%;
    }
    figcaption {
      @include flex(1);
      vertical-align: top;
      color: $gray-0;
      padding: 0.5em;
      line-height: 1.1em;

      em {
        color: $gray-3;
        font-size: 0.85em;
        display: inline-block;
        margin-top: 0.4em;
      }
    }

    &.left {
      img {
        margin-right: 0;
        margin-left: 3%;
      }
      figcaption {
        text-align: right;
      }
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  th, td {
    padding: 1rem 0.5rem 1rem 0;
    text-align: left;
    border: none;
    border-bottom: 1px dotted $gray-7;
    vertical-align: top;
  }
  th {
    font-weight: normal;
    color: rgb(120, 102, 107);
    padding-right: 1rem;
    font-size: 87%;
    text-transform: uppercase;
  }
  tr:first-child {
    th, td {
      padding-top: 0.5rem;
    }
  }
}

.full {
  width: 100%;
}
.half {
  width: 50%;
}
.centered {
  text-align: center;
}

// Grid
.row {
  @include display(flex);
  @include flex-wrap(wrap);

  margin-right: -1rem;

  .column {
    @include flex(1 1 16rem);
    padding: 0 1rem 1rem 0;
    min-width: 16rem;
  }

  &.more-space {
    margin-top: 1.5rem;
    margin-right: -3rem;
    .column {
      padding-right: 3rem;
    }
  }
}

.map {
  border: 2px solid $gray-7;
  iframe {
    margin-bottom: -0.3rem;
  }
}

.main-view {
  @include transform-origin(top center);
  &.ng-enter {
    @include animation(0.35s pageIn ease-out);
  }
}
// Load after typekit
.wf-loading {
  .main-view, body > header {
    display: none;
  }
}
.wf-active .main-view {
  .main-view, body > header {
    display: block;
  }
}

// Responsiveness
@media screen and (max-width: 850px) and (min-width: 641px) {
  .slideshow-carousel .image-carousel {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .slideshow-carousel .image-carousel {
    width: 100%;
    max-width: 100%;
  }
}
