$timing: cubic-bezier(0, 0.78, 0.4, 0.95);

.countdown {
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: $gray-1;
  strong {
    font-size: 2rem;
    color: $purple;
  }
}

nav {
  background-color: $purple;
  position: fixed;
  z-index: 1001;
  box-shadow: 0 0.2rem 0.5rem -0.2rem fade-out($darker-purple, 0.25);
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0;
  min-height: 2.3rem;
  ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    li {
      display: inline;
      a {
        display: inline-block;
        padding: 0.75rem 1rem 0.5rem;
        text-transform: uppercase;
        font-family: $family-sans;
        color: white;
        text-decoration: none;
        font-size: 0.8em;
        font-weight: 400;
        letter-spacing: 0.06em;
        transition: all 0.1s ease;

        &:hover {
          background-color: rgba(255,255,255,0.7);
          color: $purple;
        }
      }
    }
  }

  a.menu {
    //position: absolute;
    //right: 1rem;
    //top: 0.45rem;
    padding: 0.5rem 1rem;
    text-align: right;
    font-family: $family-sans;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 100;
    letter-spacing: 0.17em;
    text-decoration: none;
    color: white;
    line-height: 1.1em;
    opacity: 0.75;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 1;
    }

    img {
      width: 1.2rem;
      vertical-align: middle;
      position: relative;
      top: -0.12rem;
    }
  }
}

// Media queries
@media screen and (max-width: 850px) and (min-width: 641px) {
  nav ul li a {
    font-size: 0.74em;
    padding: 0.7rem 0.5rem 0.5rem;
    letter-spacing: 0;
  }
}
@media screen and (max-width: 640px) {
  nav {
    a.menu {
      display: block !important;
      width: 100%;
    }
    ul {
      display: none;
      position: fixed;
      top: 36px;
      right: 0;
      left: 0;
    }

    &.menu-visible {
      transition: background-color 0.2s ease;
      background-color: $darker-purple;
      ul {
        display: block;
        background-color: $purple;
        li {
          display: block;
          a {
            font-size: 0.9rem;
            padding: 0.5rem 1rem 0.5rem;
            width: 100%;
            text-align: right;
          }
        }
      }
      a.menu {
        opacity: 1;
      }
    }

    ul.menu-visible-ul-add {
      animation: pageIn 0.2s ease;
    }
  }
}

@keyframes kenburns {
  0% {
      transform: scale(1.5, 1.5) translate(-8%, -4%);
      animation-timing-function: ease-in-out;
  }
  100% {
      transform: scale(1.25, 1.25) translate(5%, 7%);
  }
}

.image-carousel {
  border: 1rem solid $gray-7;
  background-color: #F2F2F2;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;

  img {
    margin-bottom: -0.5rem;
    width: 100%;

    // ng-animate
    transition: all 2s ease-in-out;
    &.ng-hide-add, &.ng-hide-remove {
      display: block !important;
      opacity: 1;
    }
    &.ng-hide {
      opacity: 0;
    }

    &.img-primary {
      // Animate in and across
      animation: kenburns 20s ease-in-out infinite alternate;
      -webkit-animation: kenburns 20s ease-in-out infinite alternate;
    }
    &.img-secondary {
      position: absolute;
      top: 0;
      left: 0;
      // Animate out and across
      animation: kenburns 20s ease-in-out infinite alternate-reverse;
      -webkit-animation: kenburns 20s ease-in-out infinite alternate-reverse;
    }
  }
}

@media screen and (max-width: 640px) {
  .image-carousel {
    margin-left: -10%;
    margin-right: -10%;
    width: 120%;
    border: 0;
  }
}
