$timing: cubic-bezier(0, 0.78, 0.4, 0.95);

.countdown {
  font-size: 1.2rem;
  line-height: 1.5em;
  strong {
    display: inline-block;
    width: 1.15em;
    text-align: right;
    font-size: 1.3em;
    border-radius: 0.2rem;
  }
  strong.days {
    width: 1.4em;
  }
  .date span {
    white-space: nowrap;
  }
}

nav {
  background-color: $purple;
  position: fixed;
  z-index: 1001;
  //box-shadow: 0 0.2rem 0.5rem -0.2rem fade-out($darker-purple, 0.25);
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0;
  min-height: 2.3rem;
  ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    li {
      display: inline;
      a {
        display: inline-block;
        padding: 0.75rem 1rem 0.5rem;
        min-height: 2.34rem;
        text-transform: uppercase;
        font-family: $family-sans;
        color: mix(white, $purple, 70%);
        text-decoration: none;
        font-size: 0.8em;
        font-weight: 400;
        letter-spacing: 0.06em;
        transition: background-color 0.1s ease, box-shadow 0.4s ease;

        &:hover {
          background-color: $light-purple;
          color: white;
          text-decoration: none;
        }

        &.active {
          color: white;
          box-shadow: inset 0 -4px 0 $light-purple;
          &:hover {
            color: white;
            box-shadow: inset 0 -4px 0 lighten($light-purple, 12%);
          }
        }
      }
    }
  }

  a.menu {
    padding: 0.5rem 1rem;
    text-align: right;
    font-family: $family-sans;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 0.17em;
    text-decoration: none;
    color: white;
    line-height: 1.1em;
    opacity: 0.75;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 1;
    }

    img {
      width: 1.2rem;
      vertical-align: middle;
      position: relative;
      top: -0.12rem;
    }
  }
}

// Media queries
@media screen and (max-width: 850px) and (min-width: 641px) {
  nav ul li a {
    font-size: 0.74em;
    padding: 0.75rem 0.5rem 0.65rem;
    letter-spacing: 0;
  }
}
@media screen and (max-width: 640px) {
  nav {
    a.menu {
      display: block !important;
      width: 100%;
    }
    ul {
      display: none;
      position: fixed;
      top: 36px;
      right: 0;
      left: 0;
    }

    &.menu-visible {
      transition: background-color 0.2s ease;
      background-color: $darker-purple;
      ul {
        display: block;
        background-color: fade-out($purple, 0.06);
        li {
          display: block;
          a {
            font-size: 0.9rem;
            padding: 0.5rem 1rem 0.5rem;
            width: 100%;
            text-align: right;
            color: mix(white, $purple, 60%);
            &.active {
              color: white;
              box-shadow: inset -4px 0 0 $darker-purple;
              &:hover {
                box-shadow: inset -4px 0 0 darken($darker-purple, 10%);
              }
            }
          }
        }
      }
      a.menu {
        opacity: 1;
      }
    }

    ul.menu-visible-ul-add {
      animation: pageIn 0.2s ease;
    }
  }
}

@keyframes kenburns {
  0% {
      transform: scale(1.5, 1.5) translate(-8%, -4%);
      animation-timing-function: ease-in-out;
  }
  100% {
      transform: scale(1.25, 1.25) translate(5%, 7%);
  }
}

.image-carousel {
  overflow: hidden;
  position: relative;

  img {
    margin-bottom: -0.5rem;
    width: 100%;

    // ng-animate
    transition: all 2s ease-in-out;
    &.ng-hide-add, &.ng-hide-remove {
      display: block !important;
      opacity: 1;
    }
    &.ng-hide {
      opacity: 0;
    }

    &.img-primary {
      // Animate in and across
      animation: kenburns 20s ease-in-out infinite alternate;
      -webkit-animation: kenburns 20s ease-in-out infinite alternate;
    }
    &.img-secondary {
      position: absolute;
      top: 0;
      left: 0;
      // Animate out and across
      animation: kenburns 20s ease-in-out infinite alternate-reverse;
      -webkit-animation: kenburns 20s ease-in-out infinite alternate-reverse;
    }
  }
}

.calendar-link {
  display: inline-block;
  padding-left: 1.5em;
  background: no-repeat center left url(/img/calendar-icon-21.png);
  background-size: auto 82%;

  &.c21 { background-image: url(/img/calendar-icon-21.png); }
  &.c22 { background-image: url(/img/calendar-icon-22.png); }
}

img.hotel-thumb {
  width: 5rem;
  vertical-align: middle;
  margin-right: 0.5rem;
  float: left;
}

.button-bar {
  display: table;
  width: 100%;
  margin-top: 0.5rem;
  border: 0.2rem solid $gray-8;

  & > * {
    display: table-cell;
    padding: 0.25rem 0.25rem;
    background-color: $gray-8;
    text-align: center;
    vertical-align: middle;
  }

  & > a {
    color: $light-purple;
    font-weight: 500;

    &:hover {
      background-color: $light-purple;
      text-decoration: none;
      color: white;
    }

    border-right: 1px solid fade-out($gray-7, 0.5);
    &:last-child {
      border-right: 0;
    }
  }
}

@media screen and (max-width: 640px) {
  .button-bar {
    display: block;
    & > * {
      display: block;
    }
    & > a {
      border: none;
    }
  }
}

a.big-button {
  display: inline-block;
  padding: 1rem 1.5rem;
  font-size: 1.3em;
  font-weight: 500;
  color: white;
  background-color: $purple;
  border-radius: 0.25rem;
  margin: 1rem auto;
  text-align: center;
  box-shadow: 0 0 0.5rem $gray-7;
  transition: all 0.3s ease-out;

  &:hover {
    background-color: $light-purple;
    text-decoration: none;
    box-shadow: 0 0.5rem 1.5rem $gray-6;
  }
  &:active {
    background-color: $purple;
  }
}