@import "bower_components/bourbon/app/assets/stylesheets/bourbon";

// Colors
$plum: #631957;
$wine: #752138; // Lighter: #7a2743;

$purple: $wine; // rgb(169, 78, 137);
$darker-purple: darken($purple, 12%);
$light-purple: saturate(lighten($purple, 14%), 3%);

$yellow: rgb(245, 198, 23);
$light-yellow: rgb(255, 237, 169);
$pale-yellow: lighten($light-yellow, 8%);

$skyblue-0: #8DC9F4;
$skyblue-1: darken($skyblue-0, 44%);

// I know these levels make no sense...
$darkgray-0: lighten(desaturate($purple, 50%), 8%);
$darkgray-1: darken($darkgray-0, 6%);

$gray-0: darken(desaturate($purple, 48%), 3%);
$gray-1: lighten($gray-0, 10%);
$gray-2: lighten($gray-0, 17%);
$gray-3: lighten($gray-0, 25%);
$gray-4: lighten($gray-0, 32%);
$gray-5: lighten($gray-0, 40%);
$gray-6: lighten($gray-0, 48%);
$gray-7: lighten($gray-0, 57%);
$gray-8: lighten($gray-0, 68%); // rgb(247, 245, 246); // Lightest warm gray.

$shadow: rgba(0,0,0,0.25);

// Widths and Layout
$base-font-size: 16px;
$main-column-width: 700px;
$header-height: 38px;

// Flourish/fancy script typeface
$face-script: "grafolita-script";

// Headings typeface
$face-heading: "jubilat";

// Main body typeface
// Other options:
//   prenton
//   alber-new-web
//   rosario
$face-body: "prenton";

$family-serif: $face-heading, 'Garamond', 'Times New Roman', 'Times', serif;
$family-heading: $family-serif;
$family-script: $face-script, $family-heading;
$family-body: $face-body, 'San Francisco Display', 'Helvetica', 'Lucida Grande', Arial, sans-serif;
$family-sans: $family-body;

// Animations
/////////////
@include keyframes(fadeIn) {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

// Main view animation
@include keyframes(pageIn) {
  0% {
    opacity: 0;
    @include transform(translateY(-0.75rem));
  }

  100% {
    opacity: 1;
    @include transform(translateY(0));
  }
}

@import "base";
@import "components";
