// Colors
$purple: rgb(169, 78, 137);
$pale-purple: $purple;
$darker-purple: darken($purple, 12%);
$light-purple: lighten($purple, 40%); // Looking for rgb(251, 234, 247);

$gray-0: rgb(93, 76, 89);
$gray-0: darken(desaturate($purple, 24%), 12%);
$gray-1: lighten($gray-0, 10%);
$gray-2: lighten($gray-0, 17%);

// Flourish/fancy script typeface
$face-script: "grafolita-script";

// Headings typeface
$face-heading: "jubilat";

// Main body typeface
// Other options:
//   prenton
//   alber-new-web
//   rosario
$face-body: "prenton";

$family-serif: $face-heading, 'Garamond', 'Times New Roman', 'Times', serif;
$family-heading: $family-serif;
$family-script: $face-script, $family-heading;
$family-body: $face-body, 'San Francisco Display', 'Helvetica', 'Lucida Grande', Arial, sans-serif;
$family-sans: $family-body;

@import 'base';
@import 'components';
