// Colors
$purple: rgb(199, 77, 126);
$pale-purple: $purple;
$dark-purple: $purple; //desaturate(darken($purple, 12%), 22%);
$light-purple: lighten($purple, 63%); // Looking for rgb(251, 234, 247);

// Flourish/fancy script typeface
$face-script: "grafolita-script";

// Headings typeface
$face-heading: "jubilat";

// Main body typeface
// Other options:
//   ff-meta-web-pro
//   ff-tisa-web-pro
//   prenton
//   alber-new-web
//   rosario
$face-body: "jubilat";

$family-heading: $face-heading, 'Garamond', 'Times New Roman', 'Times', serif;
$family-script: $face-script, $family-heading;
$family-body: $face-body, 'San Francisco Display', 'Helvetica', 'Lucida Grande', Arial, sans-serif;

@import 'base';
@import 'components';