<header class="video">
  <video autoplay="true" loop="true" poster="img/video/lighthouse.still.jpg" width="100%">
    <source src="img/video/lighthouse.mp4" type="video/mp4">
    <source src="img/video/lighthouse.webm" type="video/webm">
  </video>
  <div>
    <h1>Our Story</h1>
    <!--<h2 class="script">The Engagement and Beyond</h2>-->
  </div>
</header>

<section class="video">


</section>

<main>
  <h2>How did this happen?</h2>

  <p>A few months after Tristan and Laura began dating, they took their first road trip together to Maine. While driving around, they stumbled upon a lighthouse a full mile into the middle of the harbor. They spent some time relaxing and taking in the views of the beautiful Maine seacoast, and realized this was a very special place.</p>

  <p>Three years later, on their third visit to that special place, Tristan tricked Laura into posing for a picture with his new camera (for the 25th time that day). As Laura rolled her eyes and stood up, she saw a little black box instead of a camera, as Tristan opened the box (very carefully so as to drop the ring into the ocean) and proposed!</p>

  <p>Laura swears she was surprised, although her perfect nails told a different story.</p>

  <p>That day was just a formality in a relationship that was already solid as a diamond (ba-dum, chhhh). Over the years, Tristan and Laura have become a great team and they are so excited to officially tie the knot with all of you!</p>

</main>
