<header-block title="Activities" subtitle="Stuff to do around Charlotte"></header-block>
<main class="activities-page">

  <p>We've picked some of our favorite places, and had a lot of fun collecting all the listings, online reviews, and friends' recommendations to put together a nice list of things to do and places to visit in beautiful Charlotte, North Carolina. If you need any other suggestions, feel free to <a href="mailto:trisweb@gmail.com">email us</a> and we'd be happy to help!</p>

  <div>
    <h4>Categories (Click or scroll down for list)</h4>
    <div class="button-bar">
      <a href="" 
         ng-repeat="category in activities" 
         ng-click="scrollTo(underscore(category.name))">{{ category.name }}</a>
    </div>
  </div>

  <section>
    <h4 id="map" style="margin-bottom: 0.5rem;">Map of all Places</h4>

    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1vqet23bQbD24STRyQNBvIvfPVVQ" width="100%" height="480" frameborder="0"></iframe>
  </section>

  <p><em>Note: Downtown Charlotte is called "Uptown"</em></p>

  <table>
  	<thead>
  		<tr>
  			<th>Place</th>
  			<th class="responsive-small-hide">Region</th>
  			<th style="width:35%;">Description</th>
  			<th>Link</th>
  			<th style="width:2rem;" class="responsive-small-hide">Map</th>
  		</tr>
  	</thead>

  	<tbody ng-repeat="category in activities">
	  	<tr class="heading-row">
	  		<td colspan="5"><h3 id="{{ underscore(category.name) }}">{{ category.name }}</h3></td>
	  	</tr>

  		<tr ng-repeat="place in category.places">
  			<td>
          <strong>{{ place.name }}</strong>
          <br class="responsive-small-show">
          <div style="margin-top: 0.75em;" class="responsive-small-show">
            <em>{{ place.region }}</em>
          </div>
        </td>
  			<td class="responsive-small-hide">{{ place.region }}</td>
  			<td>{{ place.description }}</td>
  			<td>
          <a ng-href="{{ place.link }}" target="_blank">{{ place.link_text }}</a>
          <br class="responsive-small-show">
          <a ng-href="{{ place.map_link }}" 
            target="_blank" 
            class="responsive-small-show nobreak"
            style="margin-top: 0.75em;">
            Map
            <img src="img/map-marker.png" style="width:22px;" class="middle">
          </a>
          </td>
  			<td class="centered responsive-small-hide">
          <a ng-href="{{ place.map_link }}" target="_blank">
  				  <img src="img/map-marker.png" style="width:22px;">
          </a>
  			</td>
  		</tr>
  	</tbody>
  </table>

</main>
