<header-block title="Activities" subtitle="Stuff to do around Charlotte"></header-block>
<main>
  <table>
  	<thead>
  		<tr>
  			<th>Place</th>
  			<th>Region</th>
  			<th>Description</th>
  			<th>Link</th>
  			<th style="width:3rem;white-space:nowrap;">Map It</th>
  		</tr>
  	</thead>

  	<tbody ng-repeat="category in activities">
	  	<tr class="heading-row">
	  		<td colspan="5"><h3>{{ category.name }}</h3></td>
	  	</tr>

  		<tr ng-repeat="place in category.places">
  			<td>{{ place.name }}</td>
  			<td>{{ place.region }}</td>
  			<td>{{ place.description }}</td>
  			<td><a ng-href="{{ place.link }}" target="_blank">{{ place.link_text }}</a></td>
  			<td><a ng-href="{{ place.map_link}} " target="_blank">
  				<img src="img/map-marker.png" style="width: 22px;"></a>
  			</td>
  		</tr>
  	</tbody>
  </table>

  <hr>

  <iframe name="activitymap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d208648.00478981357!2d-80.97961160465547!3d35.2033533851862!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88541fc4fc381a81%3A0x884650e6bf43d164!2sCharlotte%2C+NC!5e0!3m2!1sen!2sus!4v1467764742305" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
</main>
