<header-block title="Activities" subtitle="Stuff to do around Charlotte"></header-block>
<main>

  <p>We've picked some of our favorite places, and had a lot of fun collecting all the listings, online reviews, and friends' recommendations to put together a nice list of things to do and places to visit in beautiful Charlotte, North Carolina. If you need any other suggestions, feel free to <a href="mailto:trisweb@gmail.com">email us</a> and we'd be happy to help!</p>

  <div>
    <h4>Categories</h4>
    <span ng-repeat="category in activities" class="muted">
      <span ng-if="!$first">&nbsp; &bull; &nbsp;</span>
      <a href="" ng-click="scrollTo(underscore(category.name))">{{ category.name }}</a>
    </span>
  </div>

  <br>

  <table>
  	<thead>
  		<tr>
  			<th>Place</th>
  			<th>Region</th>
  			<th>Description</th>
  			<th>Link</th>
  			<th style="width:2rem;">Map</th>
  		</tr>
  	</thead>

  	<tbody ng-repeat="category in activities">
	  	<tr class="heading-row">
	  		<td colspan="5"><h3 id="{{ underscore(category.name) }}">{{ category.name }}</h3></td>
	  	</tr>

  		<tr ng-repeat="place in category.places">
  			<td><strong>{{ place.name }}</strong></td>
  			<td>{{ place.region }}</td>
  			<td>{{ place.description }}</td>
  			<td><a ng-href="{{ place.link }}" target="_blank">{{ place.link_text }}</a></td>
  			<td class="centered"><a ng-href="{{ place.map_link}} " target="_blank">
  				<img src="img/map-marker.png" style="width: 22px;"></a>
  			</td>
  		</tr>
  	</tbody>
  </table>

  <hr>

  <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1vqet23bQbD24STRyQNBvIvfPVVQ" width="100%" height="480" frameborder="0"></iframe>
</main>
