<header-block title="Events" subtitle="What's goin' on and when"></header-block>

<main>
  <h2>Schedule of Events</h2>

  <section>
    <h3>The Rehearsal Dinner</h3>
    <p>The rehearsal dinner will be a casual get together to celebrate pre-wedding. Come ready to relax with good company, good food, and fun games. <strong>All are welcome!</strong></p>

    <table>
      <tr>
        <th>When</th>
        <td style="width: 80%;"><strong>October 21st, 2016</strong> at 5:00 PM<br>
        <a class="subtle calendar-link c21" target="_blank" href="https://www.google.com/calendar/render?action=TEMPLATE&amp;text=Tristan%20and%20Laura%27s%20Rehearsal%20Dinner&amp;dates=20161022T200000Z/20161023T035900Z&amp;details=Tristan%20and%20Laura's%20rehearsal%20dinner!%20Dinner%20will%20be%20casual%20and%20all%20are%20invited%2C%20so%20come%20ready%20to%20relax%20and%20have%20some%20fun%20before%20the%20wedding.%0A%0Ahttp://www.tristanandlaura.com&amp;location=The%20Morris'%20Family%20Residence%2C%207600%20Polyantha%20Rose%20Circle%2C%20Weddington%2C%20NC%2028104&amp;ctz=America/New_York&amp;sprop=&amp;sprop=name:">Add to Google Calendar</a></td>
      </tr>
      <tr>
        <th>Where</th>
        <td>
          The Morris' Family Residence<br>
          7600 Polyantha Rose Circle<br>
          Weddington, NC 28104
        </td>
      </tr>
    </table>

    <br>

    <div class="row">
      <article class="column">
        <div class="map full">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3265.9642827646135!2d-80.73801228498706!3d35.05763207152604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x885426134983de7d%3A0x2c8b3189628218f4!2s7600+Polyantha+Rose+Cir%2C+Weddington%2C+NC+28104!5e0!3m2!1sen!2sus!4v1455761551785"
            frameborder="0"
            width="100%"
            height="248"
            style="border:0"
            allowfullscreen></iframe>
        </div>
      </article>

      <article class="column">
        <img src="img/morrisresidence.jpg" class="full">
      </article>
    </div>
  </section>

  <hr>

  <section>
    <h3>The Ceremony &amp; Reception</h3>

    <table>
      <tr>
        <th>Date</th>
        <td style="width: 80%;"><strong>October 22nd, 2016</strong><br><a class="subtle calendar-link c22" target="_blank" href="https://www.google.com/calendar/render?action=TEMPLATE&amp;text=Tristan%20and%20Laura%27s%20Wedding!&amp;dates=20161022T200000Z/20161023T035900Z&amp;details=Tristan%20and%20Laura%20tie%20the%20knot!%20Ceremony%20to%20start%20at%204pm.%20Please%20arrive%20by%203:30%20to%20find%20your%20seat.%0A%0Ahttp://www.tristanandlaura.com&amp;location=The%20Brakefield%20at%20Riverwalk,%201111%20Brakefield%20Drive,%20Rock%20Hill,%20SC%2029730&amp;ctz=America/New_York&amp;sprop=&amp;sprop=name:">Add to Google Calendar</a></td>
      </tr>

      <tr>
        <th>Ceremony</th>
        <td>4:00 PM</td>
      </tr>

      <tr>
        <th>Cocktail Hour</th>
        <td>4:30 PM</td>
      </tr>

      <tr>
        <th>Dinner &amp; Reception</th>
        <td>5:30 PM</td>
      </tr>

      <tr>
        <th>Where</th>
        <td>
          The Brakefield at Riverwalk<br>
          1111 Brakefield Drive<br>
          Rock Hill, SC 29730
        </td>
      </tr>
    </table>

    <br>

    <div class="row">
      <article class="column">
        <div class="full map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3268.989067147575!2d-80.97139478498902!3d34.98193857561188!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88568bc6abe8ec21%3A0x895ffc2699939eff!2sBrakefield+At+Riverwalk!5e0!3m2!1sen!2sus!4v1455761985756"
            width="100%"
            height="234"
            frameborder="0"
            style="border:0"
            allowfullscreen>
          </iframe>
        </div>
      </article>

      <article class="column">
        <img src="img/brakefield1.jpg" class="full">
      </article>
    </div>
  </section>

  <hr>

</main>
