<main>
  <section>
    <slick slides-to-show="1" infinite="true" autoplay="true">
      <img src="img/photos/slideshow-1.jpg" style="max-width:300px;">
      <img src="img/photos/slideshow-2.jpg" style="max-width:300px;">
      <img src="img/photos/slideshow-3.jpg" style="max-width:300px;">
      <img src="img/photos/slideshow-4.jpg" style="max-width:300px;">
      <img src="img/photos/slideshow-5.jpg" style="max-width:300px;">
      <img src="img/photos/slideshow-6.jpg" style="max-width:300px;">
    </slick>
  </section>
  <section>
    <h1>Tristan &amp; Laura's Wedding!</h1>
  </section>

  <countdown></countdown>

  <p>More on the way!</p>
</main>

<footer></footer>
