<main>
  <section class="title">
    <h1>Tristan &amp; Laura's Wedding!</h1>
  </section>

  <section>
    <image-carousel>
      <img src="img/photos/slideshow-1.jpg">
      <img src="img/photos/slideshow-2.jpg">
      <img src="img/photos/slideshow-3.jpg">
      <img src="img/photos/slideshow-4.jpg">
      <img src="img/photos/slideshow-5.jpg">
      <img src="img/photos/slideshow-6.jpg">
    </image-carousel>
  </section>

  <section>
    <countdown></countdown>
  </section>

  <p>More on the way!</p>
</main>

<footer></footer>
