<main class="home-page">
  <header>
    <h1>Tristan Harward &amp; Laura Morris</h1>
    <h2>October 22nd, 2016 &middot; Rock Hill, South Carolina</h2>
  </header>

  <section>
    <countdown></countdown>
  </section>
</main>

<section class="slideshow-carousel">
  <image-carousel>
    <img src="img/photos/slideshow-1.jpg">
    <img src="img/photos/slideshow-2.jpg">
    <img src="img/photos/slideshow-3.jpg">
    <img src="img/photos/slideshow-4.jpg">
    <img src="img/photos/slideshow-5.jpg">
    <img src="img/photos/slideshow-6.jpg">
    <img src="img/photos/slideshow-7.jpg">
    <img src="img/photos/slideshow-8.jpg">
    <img src="img/photos/slideshow-9.jpg">
    <img src="img/photos/slideshow-10.jpg">
    <img src="img/photos/slideshow-11.jpg">
    <img src="img/photos/slideshow-12.jpg">
    <img src="img/photos/slideshow-13.jpg">
  </image-carousel>
</section>

<footer></footer>
