<header-block title="People" subtitle="Everyone involved in this thing"></header-block>

<main>

  <section>
    <h2 class="centered">The Bride &amp; Groom</h2>

    <div class="row more-space">
      <figure class="column">
        <img class="full" src="img/people/laura-engaged.jpg">
        <figcaption class="centered">Laura</figcaption>
      </figure>
      <figure class="column">
        <img class="full" src="img/people/tristan-flower.jpg">
        <figcaption class="centered">Tristan</figcaption>
      </figure>
    </div>
  </section>

  <section>
    <h2 class="centered">Our Lovely Parents</h2>
    <div class="row more-space">
      <div class="column">
        <!-- Laura's Fam -->
        <figure class="horizontal left">
          <figcaption>
            Ann &amp; Marc Morris<br>
            <em>Parents of the Bride</em>
          </figcaption>
          <img src="img/people/ann-marc.jpg">
        </figure>

      </div>
      <div class="column">
        <!-- Tristan's Fam -->
        <figure class="horizontal">
          <img src="img/people/liz-randy.jpg">
          <figcaption>
            Liz &amp; Randy Harward<br>
            <em>Parents of the Groom</em>
          </figcaption>
        </figure>

      </div>
    </div>
  </section>


  <section>
    <h2 class="centered">The Wedding Party</h2>
    <div class="row more-space">
      <div class="column">
        <!-- Laura's Side -->
        <figure class="horizontal left">
          <figcaption>
            Sandra Morris<br>
            <em>Laura's Sister</em>
            <em>Maid of Honor</em>
          </figcaption>
          <img src="img/people/laura--sandra.jpg">
        </figure>

        <figure class="horizontal left">
          <figcaption>
            Hannah Harward<br>
            <em>Tristan's Sister-in-Law</em>
            <em>Bridesmaid</em>
          </figcaption>
          <img src="img/people/laura--hannah.jpg">
        </figure>

        <figure class="horizontal left">
          <figcaption>
            Adelia Sabintsev<br>
            <em>Bridesmaid</em>
          </figcaption>
          <img src="img/people/laura--adelia.jpg">
        </figure>

        <figure class="horizontal left">
          <figcaption>
            Kylie Lacey<br>
            <em>Bridesmaid</em>
          </figcaption>
          <img src="img/people/laura--kylie.jpg">
        </figure>

        <figure class="horizontal left">
          <figcaption>
            Caitlin Driscoll<br>
            <em>Bridesmaid</em>
          </figcaption>
          <img src="img/people/laura--caitlin.jpg">
        </figure>

        <figure class="horizontal left">
          <figcaption>
            Allison Glasgow<br>
            <em>Bridesmaid</em>
          </figcaption>
          <img src="img/people/laura--allison.jpg">
        </figure>

        <figure class="horizontal left">
          <figcaption>
            Colleen Kearns<br>
            <em>Bridesmaid</em>
          </figcaption>
          <img src="img/people/laura--colleen.jpg">
        </figure>

      </div>


      <div class="column">
        <!-- Tristan's Side -->
        <figure class="horizontal">
          <img src="img/people/tristan--garrison.jpg">
          <figcaption>
            Garrison Harward<br>
            <em>Tristan's Brother</em>
            <em>Best Man</em>
          </figcaption>
        </figure>

      </div>
    </div>
  </section>


</main>
