<header-block title="Travel" subtitle="How to get there and where to stay"></header-block>
<main>
	<section>
		<h2>Traveling to Charlotte</h2>

		<img src="img/charlotte.jpg" class="inline right">

		<p><strong>Airport:</strong> Charlotte Douglas International Airport (CLT)</p>

		<p>Charlotte is American Airlines' largest hub on the East coast, so it's usually easy to find American flights from almost any city to Charlotte. CLT is also served by JetBlue, Southwest, United, Delta, and other airlines.</p>

		<div class="muted">
			<h4>Find Flights</h4>
			<a href="https://www.google.com/flights/#search;t=CLT;d=2016-10-21;r=2016-10-23" target="_blank">
				Google Flight Search</a>
			&nbsp;|&nbsp;
			<a href="https://www.kayak.com/flights" target="_blank">
				Kayak</a>
			&nbsp;|&nbsp;
			<a href="https://www.hipmunk.com/flights#t=CLT;d=2016-10-21;r=2016-10-23" target="_blank">
				Hipmunk</a>
			&nbsp;|&nbsp;
			<a href="https://www.aa.com" target="_blank">
				American Airlines</a>

		</div>
	</section>

	<hr>

	<section>
		<h2>Getting Around</h2>

		<p>The hotels below and the wedding venue are all within a 30 minute drive from the Charlotte airport. Because it's economical and convenient for the area, we recommend you rent a car, but please let us know if you need alternate transportation arrangements.</p>

		<p>Other convenient transportation options include the <a href="http://charmeck.org/city/charlotte/cats/lynx/Pages/default.aspx" target="_blank">LYNX Light Rail</a> (Hotels in Pineville below are closest to a light rail stop), which serves the South End and Uptown areas, as well as <a href="http://charmeck.org/city/charlotte/cats/Bus/Pages/default.aspx" target="_blank">Charlotte's bus system, CATS.</a></p>
	</section>

	<hr>

	<section>
		<h2>Where to Stay</h2>

		<p>We've booked blocks of rooms at four different hotels. Two of them are very close to the wedding venue itself, and two are somewhere between the venue and the rehearsal dinner location. If you plan to attend both, one of the in-between hotels may be more convenient.</p>

		<p>If you book one of these, <strong>mention the Harward &amp; Morris wedding</strong> for the best rate.</p>

		<table class="table-middle table-responsive">
			<thead>
				<tr>
					<th>Hotel</th>
					<th>Location (Map)</th>
					<th>Phone</th>
					<th width="10%">Notes</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>
						<a class="block-link" 
							 href="http://www.marriott.com/hotels/travel/rkhts-towneplace-suites-rock-hill/" 
							 target="_blank"><img src="img/hotel-towneplace.jpg" class="hotel-thumb responsive-narrow-hide">
						TownePlace Suites</a>
					</td>
					<td><a href="https://www.google.com/maps/place/2135+Tabor+Dr,+Rock+Hill,+SC+29730/@34.9437957,-80.9735221,17z/data=!3m1!4b1!4m5!3m4!1s0x8856863defc9741b:0x5aa2d7ab02743ea9!8m2!3d34.9437957!4d-80.9713334?q=2135+Tabor+Drive,+Rock+Hill,+SC&um=1&ie=UTF-8&sa=X&ved=0ahUKEwjr-4Oc1r_NAhWIax4KHQCrBXwQ_AUICCgB" target="_blank">2135 Tabor Drive, Rock Hill, SC</a></td>
					<td><a href="tel:+18033270700">(803) 327-0700</a></td>
					<td><em>Close to venue</em></td>
				</tr>

				<tr>
					<td>
						<a class="block-link" 
							 href="http://hamptoninn3.hilton.com/en/hotels/south-carolina/hampton-inn-rock-hill-RCKSCHX/index.html" 
							 target="_blank"><img src="img/hotel-hamptoninn.jpg" class="hotel-thumb responsive-narrow-hide">
						Hampton Inn
					</td>
					<td><a href="https://www.google.com/maps/place/Hampton+Inn+Rock+Hill/@34.9434934,-80.9743013,17z/data=!3m1!4b1!4m5!3m4!1s0x8856863dbbc2736f:0xd87f02167b3040a!8m2!3d34.943489!4d-80.972118" target="_blank" title="Note that this and TownePlace are next door to each other">111 Tabor Drive, Rock Hill, SC</a></td>
					<td><a href="tel:+18033251100">(803) 325-1100</a></td>
					<td><em>Close to venue</em></td>
				</tr>

				<tr>
					<td>
						<a class="block-link" 
							 href="https://www.choicehotels.com/north-carolina/pineville/comfort-suites-hotels/nc831" 
							 target="_blank"><img src="img/hotel-comfortsuites.jpg" class="hotel-thumb responsive-narrow-hide">
						Comfort Suites
					</td>
					<td><a href="https://www.google.com/maps/place/10415+Centrum+Pkwy,+Pineville,+NC+28134/@35.0907222,-80.8785901,17z/data=!3m1!4b1!4m5!3m4!1s0x88569c5ffe44047b:0x3103e263e1770b4a!8m2!3d35.0907178!4d-80.8764068" target="_blank">10415 Centrum Parkway, Pineville, NC</a></td>
					<td><a href="tel:+17045400069">(704) 540-0069</a></td>
					<td><em>Between venue and rehearsal</em></td>
				</tr>

				<tr>
					<td>
						<a class="block-link" 
							 href="http://www.marriott.com/hotels/travel/cltbt-springhill-suites-charlotte-ballantyne-area/" 
							 target="_blank"><img src="img/hotel-springhill.jpg" class="hotel-thumb responsive-narrow-hide">
						Springhill Suites
					</td>
					<td><a href="https://www.google.com/maps/place/12325+Johnston+Rd,+Charlotte,+NC+28277/@35.0705792,-80.8443039,17z/data=!3m1!4b1!4m5!3m4!1s0x88569d174f1d7ce5:0x7b1f1fe1e9370a2!8m2!3d35.0705748!4d-80.8421206" target="_blank">12325 Johnston Road, Charlotte, NC</a></td>
					<td><a href="tel:+17048171500">(704) 817-1500</a></td>
					<td><em>Between venue and rehearsal</em></td>
				</tr>

			</tbody>
		</table>

		<br>

		<h3>Other Hotels</h3>
		<p>The following hotels are also conveniently located and have good rates and reviews, although we were not able to reserve blocks of rooms. You can still book them if you prefer:
			<ul>
				<li><a href="http://www.fourpointscharlottepineville.com/" target="_blank"><strong>Four Points by Sheraton</strong> Pineville, NC</a> (20% off if you mention Harward/Morris wedding)</li>
				<li><a href="http://homewoodsuites3.hilton.com/en/hotels/north-carolina/homewood-suites-by-hilton-charlotte-ballantyne-nc-CLTBAHW/index.html" target="_blank"><strong>Homewood Suites Ballantyne</strong> Charlotte, NC</a></li>
				<li><a href="http://www.aloftcharlotteballantyne.com/" target="_blank"><strong>Aloft Hotel Ballantyne</strong> Charlotte, NC</a></li>
				<li><a href="http://hiltongardeninn3.hilton.com/en/hotels/north-carolina/hilton-garden-inn-charlotte-pineville-CLTPHGI/index.html" target="_blank"><strong>Hilton Garden Inn</strong> Rock Hill, SC</a></li>
			</ul>
		</p>

	</section>
</main>
