<nav ng-class="{'menu-visible': menuVisible}">
  <ul ng-class="{'menu-visible-ul': menuVisible}">
    <li><a href="#/">Home</a></li>
    <li><a href="#/about">Our Story</a></li>
    <li><a href="#/about">People</a></li>
    <li><a href="#/about">Events</a></li>
    <li><a href="#/about">Travel &amp; Lodging</a></li>
    <li><a href="#/about">Things to Do</a></li>
    <li><a href="#/about">Registry</a></li>
    <li><a href="#/about">Photos</a></li>
  </ul>
  <a href="" class="menu" style="display: none;"
    ng-click="toggleMenu()">Menu <img src="img/menu.svg"></a>
</nav>
